/* font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive; */

body {
  font-family: 'Courier New', Courier, monospace;
}

.container-fluid {
  background: rgb(171, 171, 171);
  background: radial-gradient(
    circle,
    rgba(171, 171, 171, 1) 0%,
    rgba(11, 73, 4, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 2.5rem auto;
}

h3 {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1rem auto 0;
  max-width: 50rem;
}

button {
  margin: 2.5%;
  font-size: 1.5rem;
  width: 50%;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

p {
  font-weight: 600;
  max-width: 50rem;
  margin: 1rem auto;
}

.details p {
  text-align: left;
}

.inputs {
  display: block;
  margin: 1rem auto;
  font-size: 1.5rem;
}

#submit {
  background-color: green;
  color: #fff;
}

#submit:hover {
  transform: scale(1.1);
}

#submit:active {
  transform: scale(0.9);
}
